<ion-header >
  <ion-toolbar style="--background: #ff0000;">
    <ion-title class="title">Créditos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ff0000;">
  <div class="container">
    <div>
      <ion-img class="imagem" src="assets/imagens/gabriel.png" ></ion-img>
      <p class="nome">Nome: Gabriel</p>
      <p class="matricula">Matrícula: 23101833</p>
    </div>
    <div>
      <ion-img class="imagem" src="assets/imagens/vini.jpeg" ></ion-img>
      <p class="nome">Nome: Vinícius</p>
      <p class="matricula">Matrícula: 23105659</p>
    </div><div>
      <ion-img class="imagem" src="assets/imagens/ygor.png" ></ion-img>
      <p class="nome">Nome: Ygor</p>
      <p class="matricula">Matrícula: 23104887</p>
    </div>
  </div>
</ion-content>
